# Visual Studio
.vs/

# Logs
logs/

# Backups
_BACKUPS/

# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.venv/
.env/
.env

# Databases
*.db
*.sqlite3

# Temp
temp/
tmp/

# OS
Thumbs.db
.DS_Store

*.wav
output.wav
output_python.wav
*.onnx

# Clés et secrets
*.key
*.pem
*.p12
*.pfx
data/security/pins.json
data/security/fernet.keydata/security/mfa_secrets.json
